.button-primary {
    width: 200px;
    height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;

    @media screen and (min-width:1200px) {
        width: 216px;
        padding: 10px 32px;
    }

    &:hover,
    &:focus {
        background-color: var(--accent-button-color);
    }


}


.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--accent-button-color);
    }

    &:focus {
        background-color: var(--accent-button-color);
    }
}

.button-submit__icon {
    fill: var(--white-color);
    margin-left: 10px;
}

.button-close {
    position: absolute;
    top: 28px;
    right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    @include flexCenter;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;

    @media screen and (min-width:1200px) {
        top: 8px;
        right: 8px;
    }


    &:hover {
        fill: var(--accent-color);
    }

    &:focus {
        fill: var(--accent-color);
    }

}

.button-menu {
    position: absolute;
    display: flex;
    top: 10px;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover {
        fill: var(--accent-color);
    }

    &:focus {
        fill: var(--accent-color);
    }


    @media screen and (min-width:768px) {
        display: none;
    }


}