:root {
    --primary-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --white-color: #ffffff;
    --accent-button-color: #188ce8;
    --third-background-color: #f5f4fa;
    --filter-background-color: #f5f4fa;
    --logo-color: #000000;
    --portfolio-background-color: #eeeeee;
    --icon-background-color: #AFB1B8;
    ;
}